<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.alerted.alerted" >


    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For LocationService -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For New Relic -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- To allow automatic startup at boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To receive GCM push notificaiton -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.REGISTER" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="alertdb.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="us.alerted" />

        <!-- API Values Testing -->
        <meta-data android:name="api.url.test.token" android:value="http://192.168.56.1:8882/api-token-auth/"/>
        <meta-data android:name="api.url.test.users" android:value="http://192.168.56.1:8882/api/v1/users/"/>
        <meta-data android:name="api.url.test.gcmtoken" android:value="http://192.168.56.1:8882/api/v1/users/gcmtoken/"/>
        <meta-data android:name="api.url.test.locations" android:value="http://192.168.56.1:8882/api/v1/users/locations/"/>

        <!-- API Values Production -->
        <meta-data android:name="api.url.prod.token" android:value="https://alerted.us/api-token-auth/"/>
        <meta-data android:name="api.url.prod.users" android:value="https://alerted.us/api/v1/users/"/>
        <meta-data android:name="api.url.prod.gcmtoken" android:value="https://alerted.us/api/v1/users/gcmtoken/"/>
        <meta-data android:name="api.url.prod.locations" android:value="https://alerted.us/api/v1/users/locations/"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".LocationService"
            android:label="LocationService" >
            <intent-filter>
                <action android:name="us.alerted.alerted.MainActivity" />
                <action android:name="us.alerted.alerted.ExternalReceiver" />
                <action android:name="us.alerted.alerted.LoginActivity" />

                <category android:name="us.alerted.alerted" />
            </intent-filter>
        </service>

        <receiver android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <service
            android:name=".NotificationService"
            android:label="NotificationService" >
            <intent-filter>
                <action android:name="us.alerted.alerted.MainActivity" />
                <action android:name="us.alerted.alerted.ExternalReceiver" />
                <action android:name="us.alerted.alerted.LoginActivity" />

                <category android:name="us.alerted.alerted" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ExternalReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.REGISTER" />

                <category android:name="us.alerted.alerted" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.alerted.alerted.MainActivity" />
        </activity>
    </application>

</manifest>
